.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.horizontal-center {
  min-width: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-width: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.img-standard {
    max-height: 100px;
    max-width: 150px;
    min-width: 80px;
    min-height: 100px;
    /*background-color: black;*/
    background-color: #006f39;
}
.listings {
    min-width: 100%;
    min-height: 800px;
    max-height: 800px;
    height: 800px;
    /*overflow: scroll;*/
    border: 0px ;
    align-content: center;
}
.channels {
width: 100%;
    align-content: center;
    padding-left: 45px;
}
